# Android Studio 관련
.idea/
*.iml

# Gradle 관련
.gradle/
local.properties
**/build/
**/captures/
.externalNativeBuild/
.cxx/

# NAVER MAP API 관련
secrets.properties

# IDE 캐시, 로그, 시스템 파일
.DS_Store
*.log

# 기타 불필요한 설정 파일
*.apk
*.ap_

# 테스트 및 자동 생성 파일
outputs/
navigation.json

# 기타
*.keystore